<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>noticeDetail</title>
    <link th:href="@{/css/common/common.css}" rel="stylesheet" />
    <link th:href="@{/css/notice/notice.css}" rel="stylesheet" />
    <script
      type="text/javascript"
      th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/notice/noticeDetail.js}"
    ></script>

    <link th:href="@{/css/home/bootstrap.min.css}" rel="stylesheet" />
    <script src="/js/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
  </head>

  <body>
    <!-- header 영역 -->
    <header>공지사항 작성</header>

    <!--form 시작 영역-->
    <form method="post" name="testForm" class="form">
      <div class="form-group">
        <label>제목</label>
        <input type="text" name="title" class="form-control" />
      </div>
      <hr width="100%" />
      <div class="form-group">
        <label>내용 </label>
        <textarea
          type="text"
          name="content"
          class="form-control"
          id="content"
        ></textarea>
      </div>
      <hr width="100%" />
    </form>
    <!--form 종료 영역-->

    <!--footer 시작 영역-->
    <div class="btn_container">
      <button class="btn_list">
        <a href="/notice/noticePage?" target="mainfrm">목록보기</a>
      </button>
      <button class="btn_write" id="btnSave" onClick="saveNotice()"></button>
    </div>
    <!--footer 종료 영역-->

    <!--alert 팝업 시작 영역-->
    <div class="alertPopup_layer" id="alertPopup_layer">
      <div class="alertPopup_box">
        <!--팝업 이미지-->
        <div class="alertPopup_img">
          <img src="/img/cmm/alert.png" width="80px" height="70px" />
        </div>
        <!--팝업 타이틀-->
        <div class="alertPopup_cont">
          <h5>저장이 완료되었습니다.</h5>
        </div>
        <!--팝업 버튼-->
        <div class="alertPopup_btn" style="float: bottom">
          <button class="btn_write" onClick="closeAlertPop()">확인</button>
        </div>
      </div>
    </div>
    <!--alert 팝업 종료 영역-->
  </body>
</html>
