<!-- 
	spring security taglib 사용하여 권한 처리 demo
 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>HOME</title>
<link th:href="@{/css/demo/demoBoard.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
</head>

<body>
	<div id="wrap" class="wrap">
		<header class="header">header</header>
		<div class="tablist">tablist</div>
		<div class="content">
			<div class="aside">aside</div>
			<div class="main">main</div>
		</div>
	</div>

</body>

</html>